# Common Node.js ignores
node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build and TypeScript
dist/
!jest.config.js
!*.ts

# Results and logs
*.json
!package.json
!tsconfig.json
logs/
coverage/

# Environment and Secrets
.env
.env.*
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Local git worktrees
.worktrees/
